body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background-color: white;
    margin: 0;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

nav {
    background-color: white;
    height: 20px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button {
    text-decoration: underline;
    margin: 15px;
}

#intromap {
    height: 500px;
    width: 100%;
}



#login-signup {
    background-color: white;
    width: 100%;
    /* min-height: 300px; */
}

.card {
    text-align: center;
    padding: 50px 30px;
}


#create-new-story {
    background-color: rgb(242, 251, 255);
    /* height: 500px; */
    width: 100%;
}

#interactivemap { 
    /* display: none; */
    height: 500px;
    width: 100%;
}

#new-story-info {
    background-color: rgb(242, 251, 255);
    /* height: 200px; */
    /* padding: 30px; */
    display: flex;
    flex-wrap: wrap;
}

#new-story-info h2 {
    margin: 40px;
    font-weight: 300;
    color: royalblue;
}

#story.card {
    background-color: royalblue;
    margin: 0 40px;
    width: 100%;
}

#story.card h3 {
    font-size: 60px;
    font-weight: 300;
    color: white;
}

#story.card p {
    /* margin: 40px; */
    font-weight: 300;
    color: white;
}

#point.card {
    background-color: white;
    margin: 40px;
    width: 15%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

#create-new-point {
    background-color: rgb(242, 251, 255);
    height: 200px;
}

#display-stories {
    /* margin: 40px; */
    background-color:rgb(242, 251, 255);
    padding: 40px;
    min-height: 200px;
}

#display-stories div {
    background-color: white;
    padding: 15px;
    margin-bottom: 30px;
}
#display-stories h2 {
    margin: 40px;
    font-weight: 300;
    color: royalblue;
}

#display-my-stories h2 {
    margin: 40px;
    font-weight: 300;
    color: royalblue;
}

#display-my-stories {
    background-color:rgb(242, 251, 255);
    padding: 40px;
    min-height: 200px;
}

#display-my-stories div {
    background-color: white;
    padding: 15px;
    margin-bottom: 30px;
}

#welcome-message {
    font-size: 60px;
    font-weight: 300;
    color: royalblue;
    margin: 0;
    
}

h1 {
    color: royalblue;
    font-size: 36px;
    font-weight: 200;
}

form {
    margin-bottom: 20px;
}

input {
    margin: 5px;
    padding: 5px 15px;
    font-size: 14px;
    border-radius: 4px;
    border-style: solid;
    border-color: royalblue;
    border-width: 1.5px;
}

button, .button {
    font-size: 14px;
    /* color: black; */
    color: white;
    background-color: royalblue;
    /* border-color: black; */
    border-radius: 4px;
    border-style: none;
    margin: 5px 10px;
    padding: 5px 15px;
}